@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.n-header-container {
  background: #f9f7f7;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.n-logo-container {
  margin: 0;
}

.n-logo-container .logo-block {
  width: 28px;
  height: 61px;
}

.n-logo-container .logo-text p {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  line-height: 13px;
}

.n-logo-container .menu-text p {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  line-height: 13px;
}

.n-logo-container .logo-text {
  position: absolute;
  top: 5px;
  left: 9px;
}

.n-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.n-menu-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
  margin-bottom: 0;
}

.header-with-panel {
  position: relative;
  z-index: 9999999999;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #151e27;
  padding: 30px 40px;
  opacity: 0;
}

.n-menu-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.menu-opened {
  overflow: hidden;
  padding-right: 15px;
}

.n-menu-list {
  list-style: none;
  padding: 40px 0;
}

.n-menu-item {
  font-weight: 800;
  font-size: 44px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 50px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.n-menu-item:hover {
  color: #fe5f55;
  transition: 0.3s all ease-in-out;
}

.n-menu-item.active {
  color: #fe5f55;
  transition: 0.3s all ease-in-out;
}

.n-menu-item:last-child {
  margin-bottom: 0;
}

.text-end {
  text-align: end;
}

.n-social-icons {
  max-width: 100% !important;
  width: 50%;
}

.n-social-icons li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-right-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  padding: 60px 0;
}

.menu-close {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.menu-close:hover {
  opacity: 0.6;
  transition: 0.3s all ease-in-out;
}

/* Home page  */

.section-container {
  scroll-snap-type: y mandatory;
}

.section {
  /* height: 100vh; */
  scroll-snap-align: start;
  margin: 25px 0;
}

.section-home {
  height: calc(100vh - 140px);
  scroll-snap-align: start;
  margin: 25px 0;
}

.n-banner-container {
  background: #eaecf0;
  border-radius: 15px;
  padding: 50px 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.n-banner-container img {
  margin-bottom: -30px;
}

.n-banner-title {
  font-weight: 800;
  font-size: 44px;
  line-height: 53px;
  color: #262525;
}

.n-banner-title .highlight {
  color: #f73c31;
}

.n-banner-subtext {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #262525;
  width: 76%;
  margin: 20px auto;
}

.n-banner-content img {
  margin-top: 60px;
  margin-bottom: -50px;
}

.slider-nav-icon-left,
.slider-nav-icon-right {
  width: 49px;
  height: 49px;
  background: red;
  border-radius: 49px;
}

/* slick style  */

.slick-prev,
.slick-next {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 49px;
  top: 3%;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.14));
  transform: matrix(-1, 0, 0, 1, 0, 0);
  transition: 0.3s all ease-in-out;
}

.slick-prev:hover,
.slick-next:hover {
  background: #ffffff;
  filter: none;
  transition: 0.3s all ease-in-out;
}

.slick-prev {
  left: 91.5% !important;
}

.slick-next {
  right: 1.5% !important;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-slider {
  height: 100%;
}

.slick-active {
  display: block !important;
}

.slick-disabled {
  display: none !important;
  transition: 0.3s all ease-in-out;
}

.slider-container {
  background: #fcf0eb;
  border-radius: 15px;
  padding: 50px 20px;
  text-align: center;
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.slider-content {
  margin-bottom: 40px;
}

.slider-container.slide-2 {
  background: #fdf7e4;
}

.slider-container.slide-3 {
  background: #fdf7e4;
}

.slider-container img {
  margin-bottom: -50px;
}

.slick-slider-fade .slick-track {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}

/* FOOTER  */

.footer-menu {
  background: #ee4947;
  border-radius: 15px;
  padding: 40px;
}

.footer-menu-link {
  list-style: none;
}

.footer-menu-link li {
  font-weight: 750;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.footer-menu-link li:hover {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s all ease-in-out;
}

.secondary-menu-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 0 0;
}

.secondary-menu-links li {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.secondary-menu-links li:hover {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s all ease-in-out;
}

.footer-social-icns {
  width: 210px;
  margin-top: 20px;
}

.footer-copyright {
  padding: 40px 0 0 0;
  text-align: center;
}

.footer-copyright p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #a5a5a5;
}

.service-container {
  background: #f7f8f8;
  border-radius: 15px;
  padding: 50px 20px;
  /* height: 100vh; */
}

.service-container .n-banner-title {
  text-align: center;
  margin-bottom: 40px;
}

/* accordiaon  */

.accordion {
  border: none !important;
}

.accordion__item {
  margin-bottom: 20px;
  border-radius: 15px !important;
}

.accordion__item + .accordion__item {
  border: none !important;
}
.accordion__button:before {
  display: none !important;
}

.accordion__heading {
  background: rgba(233, 233, 233, 0.44) !important;
  border-radius: 15px !important;
}

.accordion__button {
  font-weight: 750 !important;
  font-size: 44px !important;
  line-height: 53px !important;
  color: rgba(113, 113, 113, 0.75) !important;
  background: rgba(233, 233, 233, 0.44) !important;
  border-radius: 15px !important;
  padding: 10px 18px !important;
}

.accordion__button[aria-expanded="true"] {
  color: #262525 !important;
  background: #f9f9f9 !important;
  border-radius: 15px 15px 0 0 !important;
}

.accordion__panel {
  background: #f9f9f9 !important;
  border-radius: 0 0 15px 15px !important;
  padding-top: 0 !important;
}

.accordion__item.ux,
.accordion__item.product,
.accordion__item.ui,
.accordion__item.design {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.09);
}

.service-img {
  opacity: 0;
  transform: translate(-200px, 0);
}

.service-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: disc;
  padding-left: 40px;
  margin-top: 10px;
}

.service-list li {
  flex-basis: 50%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #262525;
}

.service-list li::marker {
  font-size: 28px;
}

.client-container {
  background: #151e27;
  /* border-radius: 15px; */
  padding: 50px 20px;
  margin: 0 -15px;
}

.client-container .n-banner-title {
  color: #ffffff;
  text-align: center;
}

.client-container .n-banner-subtext {
  color: #ffffff;
  text-align: center;
}

/* floating  */

.bubble {
  background-color: white;
  /* background-image: url(/images/spritesheet.png); */
  background-size: 1076px 1076px;
  /* border-radius: 50%; */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 82px;
  margin-right: 20px;
  position: absolute;
  transition: opacity ease-in-out 1s;
  width: 152px;
}

.bubbles {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.bubbles-wrapper {
  /* background-color: salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* clients  */

.client-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.client-item {
  flex-basis: 20%;
}

.n-client-box {
  background: #1e2935;
  border-radius: 18px;
  padding: 20px;
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
  min-height: 127px;
  max-height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.n-client-box img {
  z-index: 1;
}

.n-client:last-child {
  margin-bottom: 0;
}

.mt-10 {
  margin-top: 60px;
}

.n-stripe-flex {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.n-stripe {
  background: #222d38;
  width: 100%;
  height: 127px;
}

/* .n-stripe.grey2 {
  background: transparent;
} */
