.audit-page section {
  margin: 0 10em;
}

.audit-page img {
  max-width: 100%;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 2.75rem;
}

.book-audit-form h2 {
  font-weight: 750;
  margin-bottom: 0px;
  font-size: 2.75rem;
  line-height: 45px;
}

.book-audit-form h2 span {
  color: #e5283f;
}

.book-audit-form p {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

/* need */

.highlight {
  color: #e5283f;
}

section.need {
  display: flex;
  align-items: center;
  margin: 5em auto;
  gap: 5em;
}

section.need h2 {
  color: #262525;
  font-weight: 750;
  padding-bottom: 10px;
}

section.need p {
  color: #262525;
  font-size: 20px;
  font-weight: 350;
}

section.need ul {
  list-style-type: disc;
  padding-left: 1rem;
  padding-top: 1rem;
}

section.need ul li {
  padding-bottom: 0.5em;
  font-size: 20px;
}

section.need img {
  max-width: 33.875em;
}

/* why */

section.why {
  text-align: center;
  margin: 4em auto;
}

.audit-page .why h2 {
  font-size: 2.75rem;
  font-weight: 750;
}

section.why p {
  color: #000;
  font-size: 20px;
  font-weight: 350;
  padding-bottom: 1em;
}

.why .why-cards {
  width: 60.63em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19.19em, 1fr));
  gap: 1.25em;
  margin: 1em auto;
}

.why .why-container {
  border-radius: 8px;
  border: 1px solid #ffdadd;
  width: 307px;
  background: #fef8f9;
  padding: 1.75em 3.125em;
}

.audit-page .why .why-container p {
  padding-top: 10px;
}

/* expect */

.audit-page .expect {
  display: flex;
  justify-content: space-between;
  margin: 4em auto;
  max-width: 1200px;
}

.audit-page .expect h1 {
  color: #000;
  font-size: 44px;
  font-weight: 750;
}

.audit-page .expect div .subheading {
  color: #000;
  font-size: 20px;
  font-weight: 350;
  padding-bottom: 2em;
}

.audit-page .expect .expected {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.audit-page .expect .expected img {
  padding-right: 8px;
}

.audit-page .expect .expected h2 {
  color: #231f20;
  font-size: 20px;
  font-weight: 700;
}

.audit-page .expect .expected p {
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 350;
  padding-top: 10px;
}

/* testimonials */
.audit-page .client-testimonials {
  background: #fff1f3;
  padding: 2.8125em 0;
  text-align: center;
}

.audit-page .client-testimonials h1 {
  text-align: center;
}

.audit-page .client-testimonials .testimonial-desktop {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.audit-page .client-testimonials .testimonial-card {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 24.125em;
  max-height: 317px;
  height: 100%;
}

.audit-page .client-testimonials .testimonial-card h1 {
  color: var(--Red, #e5283f);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.audit-page .client-testimonials .testimonial-card h3 {
  color: var(--Red, #e5283f);
  font-size: 20px;
  font-weight: 700;
  padding: 1em 0 0.2em;
}

.audit-page .client-testimonials .testimonial-card h5 {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 1em;
}

.audit-page .client-testimonials .testimonial-card p {
  color: var(--Light-Grey, #2b2b36);
  font-size: 18px;
  font-weight: 350;
}

/* case studies */

.audit-page .case-studies {
  margin: 4em auto;
  max-width: 1200px;
}

.audit-page .case-studies h2 {
  text-align: center;
  font-size: 44px;
  font-weight: 750;
  padding-bottom: 1em;
}

.audit-page .case-studies .case-study-card {
  max-width: 1200px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 0 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audit-page .case-studies .case-study-card h3 {
  color: #262525;
  font-size: 40px;
  font-weight: 500;
}

.audit-page .case-studies .case-study-card p {
  color: #2b2b36;
  font-size: 20px;
  font-weight: 350;
  padding-bottom: 40px;
}

.audit-page .case-studies .case-study-card button {
  color: #fff;
  text-align: center;
  font-size: 18px;
  background: #e5283f;
  padding: 10px 40px;
  border-radius: 4px;
}

/* audit packs */

.audit-page .ux-audit-packs {
  max-width: 1200px;
  margin: 4em auto;
}

.audit-page .ux-audit-packs .pack-cards {
  display: flex;
  justify-content: space-between;
}

.audit-page .ux-audit-packs h2 {
  text-align: center;
  font-size: 44px;
  font-weight: 750;
  padding-bottom: 1em;
}

.audit-page .ux-audit-packs .audit-pack-card {
  width: 23.75em;
  min-height: 44.25em;
  height: 100%;
  border-radius: 8px;
  border: 1px solid rgba(233, 32, 79, 0.24);
  background: #fff;
  padding: 3.125em;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}
.audit-page .ux-audit-packs .audit-pack-card:hover,
.audit-page .ux-audit-packs .audit-pack-card:focus,
.audit-page .ux-audit-packs .audit-pack-card.selected {
  border: 2px solid #e5283f;
}

.audit-pack-card.recommand::after {
  content: "Recommanded";
  width: 450px;
  height: 40px;
  background: #e5283f;
  color: white;
  padding: 10px;
  position: absolute;
  top: 20px;
  margin-top: 0px;
  margin-left: -100px;
  transform: rotate(30deg);
  font-size: 20px;
}

.audit-page .ux-audit-packs .audit-pack-card a {
  margin: auto;
}

.audit-page .ux-audit-packs .audit-pack-card button {
  position: absolute;
  bottom: 50px;
  padding: 10px 40px;
  background: #e5283f;
  color: white;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.audit-page .ux-audit-packs .audit-pack-card h3 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.96px;
}

.audit-page .ux-audit-packs .audit-pack-card h4 {
  color: #e5283f;
  font-size: 30px;
  font-weight: 750;
  line-height: 75px; /* 250% */
  letter-spacing: 1.2px;
}

.audit-page .ux-audit-packs .audit-pack-card ul {
  text-align: left;
}
.audit-page .ux-audit-packs .audit-pack-card ul li:before {
  content: url(../images/audit/dot.svg);
  position: absolute;
}

.audit-page .ux-audit-packs .audit-pack-card p {
  color: #000;
  font-size: 20px;
  font-weight: 350;
  letter-spacing: 0.8px;
  padding-left: 2em;
  padding-bottom: 0.5em;
}

.audit-page .faq-section {
  background-image: none !important;
}

.audit-page-header .form-container {
  transform: translateX(0%);
}

.audit-page .expect h2 {
  font-weight: 750;
}

@media (max-width: 360px) {
  .audit-page {
    padding: 10px;
  }
  .image-container {
    display: none;
  }
  .mobile-accord {
    display: block;
  }
  .mob-hide {
    display: none;
  }
  .mob-social-icons {
    display: none !important;
  }
  .audit-page .why .why-cards {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(5em, 1fr));
    gap: 10px;
  }
  .audit-page .need,
  .audit-page .expect,
  .audit-page .case-study-card {
    flex-direction: column-reverse;
    margin: 0 auto;
    gap: 1em;
  }
  .audit-page .pack-cards {
    flex-direction: column;
  }
  .audit-page .custom-container img {
    display: none;
  }
  .audit-page .client-testimonials .testimonial-card,
  .audit-page .ux-audit-packs .audit-pack-card {
    width: auto;
    height: auto;
  }
  .audit-page .client-testimonials .testimonial-card {
    max-height: unset;
  }
  .audit-page .ux-audit-packs .audit-pack-card button {
    position: unset;
    left: unset;
    transform: none;
  }
  section.need img {
    max-width: -webkit-fill-available;
  }
  .audit-page .client-testimonials {
    background: none;
    padding: 0;
  }
  .book-audit-form h2,
  h2,
  .audit-page .why h2,
  .audit-page .case-studies h2,
  .audit-page .ux-audit-packs h2,
  .audit-page .client-testimonials h2 {
    font-size: 24px;
    font-weight: 750;
    line-height: normal;
    text-align: left;
  }
  .audit-page-header {
    padding-top: 50px;
  }
  .audit-page .container-fluid {
    padding: 0;
  }
  .book-audit-form p {
    font-size: 12px;
  }
  .why .why-container {
    width: auto;
    padding: 10px;
  }
  .audit-page .why .why-container p {
    font-size: 14px;
    padding-bottom: 0;
    text-align: center;
  }
  .audit-page .why-container img {
    width: 40px;
  }
  .audit-page .ux-audit-packs .pack-cards {
    gap: 1em;
  }
  .audit-pack-card.recommand::after {
    font-size: 16px;
    width: 390px;
  }
  .audit-page .ux-audit-packs .audit-pack-card a {
    width: 200px;
    display: block;
    position: relative;
    margin-top: 2em;
  }
  .audit-page .case-studies .case-study-card {
    padding: 20px;
  }
  .audit-page .case-studies .case-study-card h3 {
    font-size: 18px;
  }
  .audit-page .case-studies .case-study-card p {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .audit-page .case-studies .case-study-card button {
    padding: 10px 20px;
  }
  .audit-page .ux-audit-packs .audit-pack-card p {
    font-size: 16px;
  }
  .audit-page .ux-audit-packs .audit-pack-card {
    min-height: unset;
  }
  .audit-page .faq-section {
    padding: 0;
  }
  .audit-page .faq-section .landing-title {
    font-size: 24px;
  }
  .audit-page .expect div .subheading,
  .audit-page .expect .expected h2 {
    font-size: 14px;
  }
  .audit-page .expect .expected p {
    font-size: 12px;
    padding-top: 5px;
  }
  section.why p {
    font-size: 14px;
    text-align: left;
  }
  section.need p,
  section.need ul li {
    font-size: 14px;
  }
  .contact-form-landing {
    padding: 20px 15px;
    border-radius: 10px;
  }
  .audit-page .case-studies {
    margin: 2em auto;
  }
}

@media (min-width: 360px) and (max-width: 576px) {
  .audit-page {
    padding: 10px;
  }
  .image-container {
    display: none;
  }
  .mobile-accord {
    display: block;
  }
  .mob-hide {
    display: none;
  }
  .mob-social-icons {
    display: none !important;
  }
  .audit-page .case-study-card {
    flex-direction: column-reverse;
  }
  .audit-page .need {
    flex-direction: column-reverse;
  }
  .audit-page .why .why-container {
    padding: 10px;
  }
  .audit-page .why .why-container p {
    font-size: 1rem;
  }
  .audit-page .expect {
    flex-direction: column-reverse;
  }
  .audit-page .pack-cards {
    flex-direction: column;
    gap: 1em;
  }
  .audit-page .need img {
    width: 100%;
  }
  .audit-page .client-testimonials .testimonial-card {
    width: auto;
    height: auto;
  }
  .audit-page .ux-audit-packs .audit-pack-card {
    width: auto;
  }
  .audit-page h1 {
    font-size: 2rem;
  }
  .audit-page .why .why-container {
    width: auto;
  }
  .audit-page .case-studies h2,
  .audit-page .ux-audit-packs h2,
  .audit-page .why h2 {
    text-align: left;
    font-size: 2rem;
  }
  .audit-page section.why .subheading {
    text-align: left;
  }
  .audit-page .case-studies .case-study-card {
    padding: 10px;
  }

  .audit-page .case-studies .case-study-card h3 {
    font-size: 1.5rem;
  }
  .audit-page .case-studies .case-study-card p {
    font-size: 1rem;
  }
  .audit-page .case-studies .case-study-card button {
    margin-bottom: 2em;
  }
  .audit-page .ux-audit-packs .audit-pack-card {
    height: auto;
  }
  .audit-page .ux-audit-packs .audit-pack-card button {
    padding: 10px 20px;
    position: unset;
    left: unset;
    transform: none;
    margin-top: 2rem;
  }
  .audit-page section.need {
    margin: auto;
  }

  .audit-page .why .why-cards {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.19em, 1fr));
    gap: 10px;
    justify-content: center;
  }
  .audit-page .why .why-container {
    width: auto;
  }
  .audit-page .need,
  .audit-page .expect,
  .audit-page .case-study-card {
    flex-direction: column-reverse;
  }
  .audit-page .pack-cards {
    flex-direction: column;
  }
  .audit-page .client-testimonials {
    background: transparent;
  }
  .audit-page .pattern-right {
    padding-top: 70px;
  }
  .audit-page .ux-audit-packs .audit-pack-card {
    min-height: unset;
    padding: 3rem 3.125em;
  }
}

@media (min-width: 567px) and (max-width: 768px) {
  section.need,
  .audit-page .expect,
  .audit-page .case-studies,
  .audit-page .ux-audit-packs {
    max-width: 700px;
    padding: 2em;
  }

  .audit-page .testimonial-desktop {
    max-width: 700px;
  }
  .audit-page-header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .audit-page-header .form-container {
    /* transform: translateX(-30%); */
    margin: auto;
  }
  .audit-page-header .form-container .book-audit-form {
    /* width: 30em; */
  }

  .audit-page .need,
  .audit-page .expect,
  .audit-page .case-study-card {
    flex-direction: column-reverse;
  }
  .audit-page .pack-cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .why .why-cards {
    width: auto;
    place-items: center;
  }
  .audit-page .client-testimonials .testimonial-desktop {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  section.need,
  .audit-page .expect,
  .audit-page .case-studies,
  .audit-page .ux-audit-packs {
    max-width: 1000px;
    padding: 1em;
  }
  .audit-page .client-testimonials .testimonial-desktop {
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .audit-page .ux-audit-packs .audit-pack-card {
    height: auto;
    padding: 10px;
  }
  .audit-page .ux-audit-packs .pack-cards {
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  section.need,
  .audit-page .expect,
  .audit-page .case-studies,
  .audit-page .ux-audit-packs {
    max-width: 1200px;
  }
  .audit-page .client-testimonials .testimonial-desktop {
    max-width: 1200px;
  }
  .audit-page-header {
    max-width: 1200px;
    margin: auto;
  }
}

.webinar-ad {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.webinar-ad img {
  position: absolute;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  width: 500px;
}

.webinar-ad a {
  position: relative;
}

.webinar-ad button {
  position: absolute;
  background: rgb(255, 255, 255);
  color: black;
  font-size: 16px;
  width: 120px;
  border-radius: 20px;
  padding: 8px 0;
  font-weight: bold;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
  margin-top: 4.5em;
  margin-left: -53px;
}
