@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Rowdies:wght@400;700&display=swap");

.diwali {
  background: linear-gradient(154deg, #180037 0.93%, #320073 116.97%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.diwali .highlight {
  margin: auto;
  max-width: 322.843px;
  color: #f5fa09;
  text-align: center;
  font-family: Rowdies;
  font-size: 21.559px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #4a0c9b;
  border-radius: 10px;
  padding: 0 5px 5px;
}

.diwali .highlight:first-child {
  width: 290px;
}

.diwali .highlights {
  margin-bottom: 1.5em;
}

.diwali p {
  color: #e4d0ff;

  text-align: center;
  /* font-family: Montserrat; */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.diwali .content {
  width: 653px;
}

.diwali .deadline {
  margin-top: 2em;
  margin-bottom: 1em;
}

.diwali button {
  border-radius: 6px;
  background: #f713c7;
  color: #180037;

  text-align: center;
  font-size: 26.55px;
  font-weight: 500;
  padding: 0.5em 1em;
  margin: 0 20px;
}

.diwali .condition {
  padding-top: 8px;
  font-style: italic;
  color: #e4d0ff;
  font-size: 20px;
  font-weight: 400;
}

section h2 {
  color: #f2f2f2;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2em;
  margin-bottom: 1em;
}

.diwali ol {
  list-style: none;
  margin-bottom: 2em;
}
.diwali ol li {
  color: #e4d0ff;
  max-width: 468px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.diwali .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  max-width: 193px;
}

.diwali .guidelines {
  position: relative;
  margin-bottom: 10em;
}

.diwali .pattern {
  background-image: url(../images/diwali/footer.png);
  height: 91px;
  width: 1443px;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.diwali .logo {
  height: 25em;
}

.diwali .left-pattern {
  background-image: url(../images/diwali/left-pattern.png);
  height: 726px;
  background-repeat: no-repeat;
  width: 247px;
  position: absolute;
  top: 8em;
  left: 0;
}

.diwali .main-pattern {
  background-image: url(../images/diwali/header-logo.png);
  height: 381px;
  background-repeat: no-repeat;
  width: 805px;
  position: absolute;
  left: 50%;
  top: 2em;
  transform: translateX(-50%);
}

.diwali .right-pattern {
  background-image: url(../images/diwali/right-pattern.png);
  height: 726px;
  background-repeat: no-repeat;
  width: 247px;
  position: absolute;
  top: 8em;
  right: 0;
}

@media (max-width: 576px) {
  .diwali .main-pattern {
    transform: scaleX(0.7) translateX(-78%);
    width: 706px;
  }

  .diwali .content {
    max-width: 500px;
  }

  .diwali .pattern {
    width: 500px;
  }

  .diwali .category {
    max-width: 150px;
  }
}
