.de-landing-container {
  padding: 60px 0;
}

.de-landing-layout-container {
  /* background-position: 0 -225px; */
  background-image: url(../images/landing/bg-grid.png);
  background-repeat: no-repeat;
}
.landing-banner {
  /* background-image: url(../images/landing/bg-grid.png);
  background-repeat: no-repeat;
  background-size: cover; */
}

.landing-title {
  font-weight: 600;
  font-size: 40px;
  color: #0d0d10;
}

.landing-title .highlight {
  color: #e5283f;
}

.custom-container {
  padding-right: 120px;
  padding-left: 120px;
}

.landing-text {
  font-weight: 400;
  font-size: 18px;
  color: #2b2b36;
  width: 600px;
}

.venue-container {
  /* background: rgba(254, 246, 247, 0.6); */
  border-radius: 30px;
  /* padding: 16px 0px 14px; */
  margin: 24px 0;
  width: fit-content;
}

.vc-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.vc-item {
  font-weight: 700;
  font-size: 22px;
  color: #0d0d10;
  position: relative;
  padding: 0 10px 0 14px;
}
.mob-one {
  padding: 0px;
}

.vc-item:first-child::after {
  display: none;
}

.vc-item::after {
  content: "";
  width: 4px;
  height: 21px;
  background-color: #e5283f;
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  border-radius: 8px;
}

.registerblock-banner {
  margin: 20px 0;
}

.registerblock-banner button {
  margin-bottom: 14px;
}

.contact-form-landing {
  background: #2b2b36;
  mix-blend-mode: normal;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  padding: 30px 40px;
}

.input-custom.dark {
  background: rgba(64, 64, 74, 0.5);
  color: #fff;
  border: none;
}

.input-custom.dark::placeholder {
  color: #fff;
}

.form-block {
  margin-bottom: 20px;
}

.submit-btn-landing {
  margin-top: 20px;
}

.landing-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 30px;
}

.landing-client {
  padding: 30px 0;
}

.pattern-right {
  /* background-image: url(../images/landing/pattern-right.png); */
  /* background-position: right 65px;
  background-repeat: no-repeat; */
  padding: 30px 0;
}

.landing-about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2b2b36;
  mix-blend-mode: normal;
  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
}

.lbs-block {
  flex-basis: 50%;
  height: 100%;
}

.lbs-block.content {
  padding: 60px;
}

.lbs-block h2 {
  color: #fff;
  margin-bottom: 20px;
}

.lbs-block p {
  color: #fff;
  margin-bottom: 30px;
}
.lbs-block h1 {
  color: #fff;
}

.landing-body-text {
  font-weight: 300;
  font-size: 18px;
  color: #2b2b36;
}

.l-about-section {
  padding: 30px 0 0 0;
}

.about-event-right {
  background-image: url(../images/landing/bg-about.png);
  background-repeat: no-repeat;
  /* padding: 0 60px !important; */
  background-size: cover;
}
.bg-long {
  background-image: url(../images/landing/long-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.speaker-section {
  padding: 100px 0 0 0;
  /* background-image: url(../images/landing/speaker-bg.png); */
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.speaker-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 40px 0px;
}

.speaker-card {
  background: #ffffff;
  box-shadow: 5px 4px 10px rgba(255, 158, 158, 0.25);
  border-radius: 20px;
  padding: 60px 40px;
  width: 100%;
}

.speaker-dp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.sp-name {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #0d0d10;
  margin-bottom: 12px;
}

.sp-desigmation {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e5283f;
}

.sp-info li {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2b2b36;
  margin-top: 20px;
}

.info-section {
  padding: 40px 0;
  /* background-image: url(../images/landing/pattern-right.png); */
  background-position: right -80px;
  background-repeat: no-repeat;
}

.pattern-bottom {
  /* background-image: url(../images/landing/pattern-right.png); */
  background-position: right 1550px;
  background-repeat: no-repeat;
  padding: 0 0 70px 0;
}

.pattern-left-center {
  /* background-image: url(../images/landing/pattern-left.png); */
  background-position: left bottom;
  background-repeat: no-repeat;
}

.info-section-card {
  /* background: #ffffff;
  border: 1px solid #fef6f7;
  box-shadow: 5px 4px 10px rgba(255, 158, 158, 0.25); */
  border-radius: 20px;
  background-image: url(../images/landing/info-bg.png);
  background-size: cover;
  padding: 90px 140px;
}

.info-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #2b2b36;
  margin-bottom: 20px;
}

.info-items {
  display: flex;
  flex-flow: column;
}

.info-content {
  margin: 30px 0;
}

.program-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 700px;
  margin: auto;
  padding: 35px 40px;
}

.break-time {
  background: #f3f3f3;
  opacity: 0.8;
  border-radius: 10px;
  padding: 10px 40px;
  align-items: center;
}

.program-block div {
  flex-basis: 50%;
}

.pb-time {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #2b2b36;
}

.break-time .pb-time {
  opacity: 0.6;
}

.pb-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #0d0d10;
}

.landing-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #0d0d10;
}
.register-subtitle {
  color: rgba(43, 43, 54, 0.6);
  font-weight: 400;
  font-size: 24px;
}

.register-container {
  padding: 0;
  /* margin-top: -30px; */
}

.landing-price-card {
  background: #ffffff;
  padding: 30px;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* gap: 30px; */
  border-radius: 20px;
  border: 1px solid rgba(229, 40, 63, 0.3);
  align-items: flex-start;
}

.price__card--content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 100%;
}

.price__card--content > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.price__card--content > div:nth-child(2) p {
  max-width: 55%;
  margin-top: 10px;
  font-size: 1rem;
  color: #a3a3ad;
}

.price__card--content > div:nth-child(2) p i {
  font-style: italic;
}
.landing-price-card > div:nth-child(2) h5 {
  color: #a3a3ad;
  font-size: 1rem;
}
.landing-price-card > div:nth-child(2) ol {
  list-style: decimal;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 1rem;
  color: #a3a3ad;
}

.early__bird--discount {
  font-size: 1.2rem;
  font-weight: 500;
}

.price__card--content-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #2b2b36;
}

.lpc-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #2b2b36;
}

.lpc-price {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: #e5283f;
  padding-left: 10px;
}

.lpc-offer {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #2b2b36;
  width: 230px;
}

.lpc-price-sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #2b2b36;
  opacity: 60%;
}

.price-card-block {
  margin: 60px 0 0 0;
}

.lpc-offer-sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #2b2b36;
}

.contact-terms-section {
  padding: 60px 0 100px;
}

.contact-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #0d0d10;
  margin-bottom: 16px;
}

.download-brochure {
  background: #2b2b36;
  padding: 32px;
}
.bg-download-brochure {
  background-image: url(../images/landing/brochure-bg.png);
  background-repeat: no-repeat;
}

.download-brochure h2 {
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.download-brochure .landing-title span {
  display: block;
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form-flex .input-custom {
  /* flex-basis: 68%; */
}

.align-center {
  align-items: center !important;
}

.testimonial-card {
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #ffefef;
  background: #fff;
}

.t-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0d0d10;
  margin: 16px 0;
}

.t-quote {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #2b2b36;
}

.testimonial-section {
  padding: 100px 0;
  background-image: url(../images/landing/testimonial-bg.png);
  background-repeat: no-repeat;
}

.t-card-block {
  margin-top: 30px;
}

.newsletter-bg {
  background-image: url(../images/landing/newsletter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.faq-section {
  padding: 100px 0 40px;
  background-image: url(../images/landing/faq-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* faq accordion 
 */

.accordion-header {
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2b2b36;
}

.accordion-header.active {
  background-color: #fff;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  border-bottom: 1px solid #eeeeee;
}

.accordion-content.active {
  border-bottom: 1px solid #eeeeee;
}

.ac-block {
  padding: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2b2b36;
}

.accordion-content.active {
  max-height: 500px; /* Adjust the value to fit your content height */
}

.accordion-header .chevron-icon {
  transition: transform 0.3s;
}

.accordion-header.active .chevron-icon {
  transform: rotate(180deg);
}

.faq-block {
  margin-top: 20px;
}

.landing-footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-social-icons {
  margin-top: 0;
  justify-content: center !important;
  gap: 40px;
}

.landing-social-icons img {
  transform: scale(0.8);
}

.thankyou-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  text-align: center;
  margin: auto;
  background-image: url("../../assets/images/landing/thanks-bg.png");
  background-size: cover;
}

.thankyou-section h4 {
  font-size: 2.5rem;
  font-weight: 750;
  text-transform: capitalize;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.thankyou-section p {
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
  max-width: 42em;
}

@media only screen and (max-width: 768px) {
  .landing-text {
    width: 100%;
  }
  .program-block {
    width: 100%;
  }
  .custom-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .venue-container {
    width: 100%;
  }
  .vc-list {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .vc-list li {
    width: 272px;
    text-align: center;
    font-size: 18px;
  }
  .mob-one {
    padding: 0 10px 0 14px;
  }
  .vc-list li::after {
    content: "";
    width: 20px;
    height: 3px;
    background-color: #e5283f;
    display: block;
    position: absolute;
    top: -10px;
    left: 120px;
    border-radius: 8px;
    display: none;
  }
  .landing-title {
    font-size: 24px;
  }

  .landing-body-text {
    font-size: 16px;
  }
  .landing-about-section {
    flex-wrap: wrap;
  }
  .lbs-block {
    flex-basis: 100%;
  }
  .lbs-block.content {
    padding: 30px;
  }
  .speaker-card-container {
    flex-wrap: wrap;
    padding: 0;
    margin-top: 30px;
  }
  .info-section-card {
    padding: 20px 20px;
  }
  .program-block {
    padding: 10px;
  }
  .pb-time {
    font-size: 20px;
  }
  .pb-info {
    font-size: 16px;
  }
  .landing-price-card {
    margin-bottom: 30px;
  }
  .testimonial-card {
    margin-bottom: 30px;
  }

  .accordion-header {
    font-size: 16px;
    padding-right: 20px;
    align-items: flex-start;
  }
  .ac-block {
    font-size: 14px;
  }
  .contact-form-landing {
    padding: 30px;
  }
  .landing-price-card {
    gap: 30px;
  }
  .form-flex {
    margin-top: 20px;
  }
  .contact-terms-section {
    padding: 20px 0;
  }
  .contact-terms-section .row {
    flex-wrap: wrap-reverse;
    gap: 20px;
  }
  .price-card-block {
    margin: 30px 0 0 0;
  }
  .speaker-card-container {
    gap: 30px;
  }
  .speaker-dp {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .sp-info {
    margin-top: 30px;
  }
  .sp-info li {
    font-size: 16px;
    margin-top: 16px;
  }
}
.max-w-50 {
  max-width: 50%;
  margin: auto;
}
.testimonial-card .testimonial-img-container {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.design-workshop__form .srv-validation-message {
  margin-bottom: 10px;
  margin-top: 0;
  color: #fe5f55 !important;
}

.faq-block .ac-block ol {
  list-style: number;
  padding-left: 1em;
}

.de-landing-container .custom-btn {
  background: #e5283f;
}

.pointer-events-none {
  pointer-events: none;
  cursor: none;
}

.footer-landing .footer-quick-links li .link,
.footer-landing .footer-copyright p {
  color: #ffffff;
}

.footer-landing .footer-quick-links li {
  margin-bottom: 10px;
}

/* @media screen and (min-width: 768px) {
  .footer-landing .footer-copyright {
    margin-inline: -5em;
  }
} */

.subscribe-btn {
  /* margin-left: auto; */
  display: block;
}

.contact-terms-section .contact,
.mob-show {
  display: none;
}
.p-0 {
  padding: 0;
}

.testimonial-mobile {
  display: none;
}
.testimonial-desktop {
  display: flex;
}

@media screen and (max-width: 576px) {
  .vc-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .vc-list li {
    width: auto;
    text-align: center;
    font-size: 18px;
  }
  .landing-text {
    text-align: center;
  }
  .speaker-card {
    padding: 40px;
  }
  .info-section-card {
    padding: 40px 20px;
  }
  .program-block {
    margin: 32px 0;
  }
  .landing-title {
    font-size: 2rem;
  }
  .register-subtitle {
    font-size: 14px;
  }
  .sp-name {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .pattern-bottom {
    padding: 0;
  }
  .contact-terms-section .landing-text {
    text-align: left;
  }
  .contact-terms-section {
    padding-bottom: 60px;
  }
  .download-brochure {
    padding: 32px 16px;
  }
  .download-brochure .container {
    padding: 0;
  }
  .testimonial-section {
    padding: 40px 0;
  }
  .footer-quick-links li .link {
    font-size: 12px;
    margin-bottom: 0px;
  }

  .contact__submit-button {
    margin: auto;
  }
  .about-event-right {
    background-position: 80% 50%;
  }
  .speaker-section {
    padding-top: 40px;
  }
  .info-section-card .info-content li {
    padding-left: 1.2em;
    padding-bottom: 1em;
  }
  .info-section-card .info-content li:last-child {
    padding-bottom: 0;
  }
  .contact-terms-section .contact {
    display: none;
  }
  .contact-terms-section .contact .landing-text {
    padding-bottom: 1em;
  }
  .download-brochure .form-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-container .contact {
    display: block;
  }
  .mob-show {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .mob-show ul li {
    padding-bottom: 14px;
  }
  .footer-landing .footer-quick-links li {
    margin-bottom: 0 !important;
  }
  .landing-footer-flex {
    flex-direction: column;
  }

  .landing-footer-flex p {
    margin: 1em 0;
  }
  .footer-social-icns {
    display: flex !important;
  }
  .testimonial-desktop {
    display: none;
  }
  .testimonial-mobile {
    display: block;
  }
  .max-w-50 {
    max-width: 100%;
  }
  .price__card--content {
    flex-direction: column;
    margin-top: 1.2rem;
  }
  .price__card--content > div:first-child {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .price__card--content > div:nth-child(2) {
    margin: 10px auto;
    text-align: center;
  }
  .price__card--content > div:nth-child(2) p {
    margin: 10px auto;
    text-align: center;
  }
  .download-brochure .landing-title {
    text-align: left;
    margin-bottom: 0;
  }
  .download-brochure .landing-title span {
    display: unset !important;
  }
  .about-event-right {
    background-image: none;
  }
  .lbs-block.content {
    background-image: url("../images/landing/mobile-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    min-height: 31em;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
  .lbs-block.content > * {
    padding: 0 20px;
  }
  .testimonial-section {
    background-image: none;
  }
}
