.pookalam {
  /* background: #fbebce; */
  width: 55em;
  height: 50em;
  color: #d03926;
  margin: 3em auto;
  object-fit: cover;
  background-image: url("../images/pookalam_bg_2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.pookalam__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding: 12em 4em;
  text-align: center;
  width: 50em;
  margin: auto;
}

.pookalam__contentheading {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 70px;
}

.description {
  font-weight: 500;
  max-width: 80%;
  font-size: 1.5rem;
  margin: 2em auto 1em;
  line-height: 25px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 1em;
}

.lastdate {
  color: black;
  font-weight: 500;
}

.submitcaption {
  margin-top: 3em;
}
.buttonsContainer button {
  background: #d03926;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .pookalam {
    /* background: #fbebce; */
    width: 100%;
    height: 100%;
    margin: 10px 0 20px;
    object-fit: cover;
    background-size: cover;
    background-position-x: -16px;
  }
  .pookalam__content {
    height: 100%;
    width: 100%;
    padding: 6em 4em;
    margin-top: 6em;
  }

  .pookalam__contentheading {
    font-size: 2rem;
    line-height: 30px;
  }

  .description {
    font-size: 1rem;
    line-height: 20px;
  }
  .pookalam_container {
    padding: 0 5px;
  }
}
