/* Mobile Responsive  */

@media only screen and (max-width: 768px) {
  .n-banner-img img {
    width: 100%;
  }
  .n-logo-container {
    transform: scale(0.8);
  }
  .header-with-panel {
    height: 67px !important;
  }
  .header-with-panel.fixed .logo-container {
    transform: scale(0.8) !important;
    transition: 0.3s all ease-in-out;
  }
  .n-header-container {
    padding: 0 30px !important;
  }
  .n-menu-text {
    display: none;
  }
  .menu-right-content {
    display: none;
  }
  .nav-menu {
    padding: 30px 20px;
  }
  .n-menu-item {
    font-size: 28px;
    margin-bottom: 6px;
  }
  .social-icons {
    justify-content: space-between !important;
  }
  .n-banner-title {
    font-size: 28px;
    line-height: 34px;
  }
  .n-banner-subtext {
    font-size: 16px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
  .n-banner-container {
    padding: 20px 20px;
  }
  .n-banner-img {
    margin-bottom: 0;
  }
  .n-banner-container img {
    margin-bottom: -10px;
  }
  .service-list li {
    font-size: 14px;
  }
  .client-flex {
    flex-wrap: wrap;
  }
  .client-item {
    flex-basis: 46%;
    width: 46%;
  }
  .n-client-box {
    padding: 20px;
  }
  .n-client-box img {
    width: 100%;
  }
  .mt-10 {
    margin-top: 0 !important;
  }
  .home-team-container .n-banner-title {
    width: 100%;
  }

  .accordion__button {
    font-size: 20px !important;
    line-height: 44px !important;
  }
  .service-img {
    width: 100%;
  }
  .view-txt {
    display: none;
  }
  .service-list li {
    margin-bottom: 0;
    line-height: 18px;
    flex-basis: 40%;
  }
  .service-list {
    padding-left: 30px;
    align-items: flex-start;
  }
  .accordion__panel {
    padding: 10px;
  }
  .service-img {
    display: none;
  }
  .service-img-mob {
    display: block !important;
  }
  .service-img-mob {
    width: 40%;
  }
  .n-contact-card {
    padding: 20px;
  }
  .card-img {
    width: 30%;
  }
  .n-contact-card {
    margin-bottom: 20px;
  }
  .n-contact-card.bg2 {
    margin-bottom: 0;
  }
  .n-contact-card h1 {
    font-size: 28px;
    margin: 12px 0;
  }
  .n-contact-card p {
    font-size: 16px;
  }
  .mob-view-social {
    display: flex !important;
    margin-top: 20px;
  }
  .secondary-menu-links {
    margin-top: 30px;
  }
  .footer-social-icns {
    display: none !important;
  }

  .mob-view-social li img {
    width: 70%;
  }
  .slick-prev,
  .slick-next {
    top: 3%;
    width: 32px;
    height: 32px;
  }
  .slick-prev {
    left: 76.5% !important;
  }
  .menu-opened {
    padding-right: 0;
  }
  .menu-opened .header-with-panel.fixed .n-header-container {
    right: 0;
  }

  .menu-opened .header-with-panel.fixed .n-header-container .n-menu {
    margin-left: 0;
  }
}
